@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: aliceblue;
}



.white-gradient {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.60) 50%, rgba(255, 255, 255, 0.00) 84.21%);
}

div.scroll {
  width: 95%;
  overflow-y: hidden;
  overflow-x: auto;
  text-align: center;
  padding: 20px;
  margin: 50px;
}

/* width */
div.scroll::-webkit-scrollbar {
  width: 0;
}


.outerWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 22rem;
  height: 30rem;
  /*background-color: beige;*/
}

.layer0{
  /*background: yellowgreen;*/
  position: relative;
  /*left: -20px;*/
  /*top: 20px;*/
  z-index: 1;
}

.layer1{
  /*background: steelblue;*/
  position: relative;
  left: -12rem;
  top: 2rem;
  z-index: 2;
}

.layer2{
  position: relative;
  /*background: rezd;*/
  left: -24rem;
  top: 5rem;
  z-index: 3;
}

#outerWrap > div {
  padding: 20px;
  font-size: 4vw;
  color: white;
}